:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#canvas {
  position: absolute;
}

#overlay {
  position: absolute;
}

.items {
  border: 4px solid white;
  border-radius: 16px;
  padding: 16px;
}
